[Unit]
Description=zhongtaiko_filter_py
After=multi-user.target
Documentation=https://github.com/zDEFz/zhongtaiko_filter_py

[Service]
ExecStart=/usr/bin/python /usr/lib/zhongtaiko_filter_py/zhongtaiko_filter_py.py
User=root
Group=root
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

