[Unit]
Description=Zhong Taiko Filter Script
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/lib/zhongtaiko-filter/zhongtaiko_filter.py
User=root
Group=root
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
