[Unit]
Description=Zhong Taiko Filter Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/lib/taiko-filter/zhongtaiko_filter.py
User=root
Group=root
Restart=on-failure
ProtectSystem=full
NoNewPrivileges=true
AmbientCapabilities=CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
